img {
  width: 100px;
  margin-left: 100px;
}

div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  grid-gap: 5px;
  margin: 50px 0px;
  border: 1px solid black;
  padding: 20px 0px;
}
